;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Aug 20 11:49:34 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("highlight" "hihlight" "highlight" "buffer-moi"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/Users/a-pichugin/emacs_config" "~/.emacs"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/a-pichugin/emacs_config/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(highlight-parentheses-mode linum-mode my-keys-minor-mode)
  2619
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

